.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 70vh;
  width: 70vw; 
  position: relative;
  animation: fadeInFull 0.75s ease-in;
}

#serviceCard1 {
  animation: fadeInFullDelayMiddle 1.25s ease-in;
}

#serviceCard2 {
  animation: fadeInFullDelayRight 1.75s ease-in;
}

.service-card-image {
  height: 65vh;
  width: 70vw; 
  object-fit: cover;
  position: absolute;
}


.service-card-overlay{
  height: 65vh;
  width: 70vw; 
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(2px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
}

.service-card-button {
  background-color: #D9C19F;
  font-family: 'Junge', serif;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  width: 50%;
  border: none;
  cursor: pointer;
}

.service-card-overlay:hover {
  opacity: 1;
}

.service-card-title {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 80%;
  text-align: center;
  background-color: #E3D5C1;
  padding: 10px;
  font-family: 'Junge', serif;
  font-weight: 400;
  font-size: 25px;
} 


 @media screen and (min-width: 900px){
  .service-card, .service-card-image, .service-card-overlay {
    height: 500px;
    width: 335px; 
  }

  .service-card-image, .service-card-overlay {
    height: 450px;
  }
} 

@media screen and (min-width: 1900px) {
  .service-card, .service-card-image, .service-card-overlay {
    width: 450px;
    height: 700px;
  }

  .service-card-image, .service-card-overlay {
    height: 650px;
  }
}

@media screen and (min-width: 2500px){
  .service-card, .service-card-image, .service-card-overlay {
    width: 550px;
    height: 775px;
  }

  .service-card-image, .service-card-overlay {
    height: 725px;
  }
} 
