nav {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.link-container {
  margin: 20px;
}

.logo img {
  max-width: 350px;
}

.nav-link {
  font-size: 20px;
  margin: 10px;
}

.menu-btn {
  background-color: #00000000;
  border: none;
}

.menu-btn img {
  max-width: 40px
}

@media screen and (max-width: 400px) {
  .logo img {
    max-width: 95%;
  }
}