.blog, .last-blog {
  border-bottom: 1px solid black; 
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  padding-right: 0; 
}

.last-blog {
  border-bottom: none;
}

.blog:hover, .last-blog:hover {
  box-shadow: 0px 0px 10px 1px rgba(235, 226, 232, 0.62);
  border-bottom: none;
  padding-right: 10px;
}

.blog-p {
  font-size: 20px;
  max-width: 400px;
  margin: 5px
}

.blog-title {
  font-size: 25px;
  margin: 5px;
}

.blog-article{
  display: flex; 
  flex-direction: column;
}

.blog-img {
  min-width: 200px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 465px) {
  .blog, .last-blog {
    flex-direction: column-reverse;
  }
  .blog-article {
    text-align: center;
  }
}