* {
  font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'Playfair Display', serif;
}

a {
  color: black;
  text-decoration: none;
}

a.active {
  border-bottom: 1px solid black;
}

button  {
  color: black;
}

body {
  margin: 0;
  background-color: #FFFEFB;
}

.hidden {
  display: none;
}
