* {
  font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'Playfair Display', serif;
}

a {
  color: black;
  text-decoration: none;
}

a.active {
  border-bottom: 1px solid black;
}

button  {
  color: black;
}

body {
  margin: 0;
  background-color: #FFFEFB;
}

.hidden {
  display: none;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translate(0)
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translate(0)
  }
}

@keyframes fadeInHalf {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 12%
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 37%
  }
  100% {
    opacity: 50%;
  }
}

@keyframes fadeInFull {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}